.style-split {
  width: 10vw;
  outline: none;
  margin-bottom: 1.5vh;
}
.style-split > button {
  background-color: #d0d0d0;
  color: #7a7a7a;
  border: none;
  outline: none;
  font-size: 15px;
}
.style-split > button:hover {
  background-color: #d0d0d0 !important;
  color: #7a7a7a !important;
  outline: none !important;
  border: none !important;
}
.style-split > button:hover:first-child {
  background-color: #d0d0d0;
  color: #7a7a7a;
  cursor: default;
  outline: none;
  border: none;
}

.style-split > button:focus:first-child {
  outline-style: none !important;
}
